@import "../../assets/variables.css";

.root {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 70vh;
  padding: var(--spacing-xl);
  background-color: var(--background);
}

.control {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: indianred;
  border-radius: var(--radius-s);
  min-width: 200px;
  min-height: 200px;
  margin: auto;
}